# String Functions with Python

Here are five python functions you can use to format your strings and make them usable for other purposes.

## .strip()

In [ ]:
## The .strip() function removes leading and trailing whitespace.

text = " String " ## This text has a leading whitespace AND a trailing whitespace.

text = text.strip()

text

'String'

## .lower() and .upper()

In [ ]:
## The .lower() function transforms strings into lowercase.

text = "Human resources"

text = text.lower()

text

'human resources'

In [ ]:
## The .upper() function transforms strings into uppercase.

text = "Human resources"

text = text.upper()

text

'HUMAN RESOURCES'

## .title()

In [ ]:
## The .title() function capitalizes each letter of each word in the string.

text = "the quick brown fox jumped over the lazy dog."

text = text.title()

text

'The Quick Brown Fox Jumped Over The Lazy Dog.'

## .split()

In [ ]:
## The .split() function splits a string according to the provided delimeter.


text = "the quick brown fox jumped over the lazy dog."

list_text = text.split()

list_text

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [ ]:
## As the function returns a list, you can use it for iteration.

for text in list_text: ## This loops over all the text in the list_text object from the .split() function.
  print(text.upper()) ## This prints the upper case version of each of the item in the list.

THE
QUICK
BROWN
FOX
JUMPED
OVER
THE
LAZY
DOG.

In [ ]:
## You can provide a specific delimiter for the .split() function so the string gets split based on that.

text = "apple,orange,banana"

list_fruits = text.split(",") ## This will split the text according to the "commas"

for fruit in list_fruits:
  print(fruit)

apple
orange
banana

## .replace()

In [ ]:
## The .replace() function replaces certain parts of the string with something else.

text = "the quick brown fox jumped over the lazy dog."

text = text.replace("fox","cat") ## The first argument is the text you want to replace while the second argument is the value you want to replace it with.

text ## The returned value replaces "fox" with "cat"

'the quick brown cat jumped over the lazy dog.'

In [ ]:
## You can also replace punctuations with an empty string to remove it.

text = "Hello!"

text = text.replace("!","")

text

'Hello'